h1 {
  color: orange; size: 65px;
  font-family: sans-serif;
  text-decoration: line-through;
  }

  .FavColorList {
    background-color: aquamarine;
    font-style: italic;
    line-height: 3em;
  }

  p {
    font-weight: 600;
    font-size: 3em;
    text-align: center;
  }

  body {
    font-size: 16px;
  }

  #colorYellow {
    color: yellow;
  }

  #colorRed {
    color: red;
  }

  #colorBrown {
    color: brown;
  }